.card {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid $color4;
  transition: border 0.3s;

  display: flex;
  flex-direction: column;
  height: 100%;

  &__img {
    display: block;
    max-width: 100%;
    margin: 0px auto;
  }

  &__date {
    margin-top: 10px;
  }

  &__title {
    margin: 10px 0;
  }

  &__text {
    flex-grow: 1;
  }
}

.card:hover {
  border: 1px solid $color3;
}