.preview {
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    margin: 120px 0px 40px 0px;
  }

  &__nav {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px auto;
  }

  &__pagination {
    width: 360px;
    height: 2px;
    margin-right: 40px;
    background: $color4;
  }

  &__btn {
    box-sizing: border-box;
    border: 1px solid $color4;
    width: 60px;
    height: 60px;
    margin: 0px 40px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  &__btn:last-of-type {
    margin-right: 0;
  }

  &__btn:hover {
    background-color: $color4;
  }

  &__btn:active {
    opacity: 0.7;
  }
}

@media (max-width:960px) {
  .preview {
    &__title {
      font-size: 45px;
    }

    &__pagination {
      width: 280px;
    }

    &__btn {
      width: 50px;
      height: 50px;
    }

    &__btn .icon_size_1 {
      width: 15px;
      height: 15px;
    }
  }
}

@media (max-width:830px) {
  .preview {
    &__title {
      font-size: 40px;
    }

    &__btn {
      width: 45px;
      height: 45px;
    }
  }
}

@media (max-width:750px) {
  .preview {
    &__header {
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 60px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__nav {
      margin: 0px 0px 0px 0px;
      width: 75%;
    }

    &__pagination {
      flex-grow: 1;
    }

    &__btn {
      flex-shrink: 0;
    }

    &__btn--prev {
      order: 0;
    }

    &__pagination {
      order: 1;
    }

    &__btn--next {
      order: 2;
    }
  }
}

@media (max-width:500px) {
  .preview {
    &__nav {
      width: 100%;
    }
  }
}