.text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  font-weight: 400;
  color: $color1;

  padding: 0;
  margin: 0;

  &_weight_700 {
    font-weight: 700;
  }

  &_size_2 {
    font-size: 12px;
    line-height: 22px;
  }

  &_size_3 {
    font-size: 50px;
    line-height: 60px;
  }

  &_color_2 {
    color: $color2;
  }

  &_color_3 {
    color: $color3;
  }

  &_color_4 {
    color: $color4;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--link {
    cursor: default;
  }
}

@media (min-width: 1024px) {
  .text {
    &--link {
      cursor: pointer;
    }

    &--link:hover {
      text-decoration: underline;
    }
  }
}